#content {
	.dataTable,
	.jstree {
		font-size: 0.8rem;
	}
	.toolbar {
		border-bottom: 1px $border-style $border-color;
		background-color: $toolbar-bg;
		padding: $toolbar-padding 1rem;
		// font-size: 0.875rem;

		::placeholder {
			color: $body-color;
		}

		/*
			overrides for datables small form fields in the toolbar
		*/
		.form-control-sm {
			padding: $input-padding-y $input-padding-x;
			min-height: unset;
			font-size: unset;
			@include border-radius($input-border-radius, 0);
		}
		.form-select-sm {
			padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
			font-size: unset;
			@include border-radius($input-border-radius, 0);
		}
	} 
	.toolbar-bottom {
		border-top: 1px $border-style $border-color;
		background-color: $toolbar-bg;
		// padding: 0 1rem;
		padding: $toolbar-padding 1rem;
		font-size: .875rem;
		line-height: .875rem;
	} 
	.toolbar * {
		color: $body-color;
		border-color: $toolbar-bg;
		background-color: $toolbar-bg;
	}
	.toolbar-bottom * {
		color: $body-color;
		border-color: $toolbar-bg;
		background-color: $toolbar-bg;
	}
	table.dataTable {
		tbody {
			cursor: context-menu;
		}
		td {
			border: none;
		}
		td:first-child, 
		th:first-child {
			padding-left: 1rem;
		}
	}

	.dataTables_info {
		padding: 0
	}
	.page-link {
		padding: 0.25rem 0.5rem;
	}
	.page-item.disabled .page-link {
	}
	.page-item.active .page-link {
		color: #fff;
		background-color: #0d6efd;
		border-radius: 3px;
	}
}


